.header-container{
    height: 10vh;
    padding: 0 15vw;
    background: #1f2640;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-icon{
    height: 10vh;
    float: left;
}
@media (max-width: 1080px){
    .header-container{
        padding: 0 5vw;
    }
}
@media (max-width: 768px){
}
@media (max-width: 640px){
}
